<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>

    <link rel="stylesheet" href="/css/register.css">

    <!-- font aweosome link  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="goBack" id="link" >
        <a th:href="@{/project/all}">Back</a>
    </div>
    <div class="login-text">
        <h3>Add User</h3>
    </div>
    <form th:action="@{/auth/addUser}" method="POST">
        <div class="login-input">
            <input type="text" placeholder="Enter your Username" name="username">
            <input type="email" placeholder="Enter your Email" name="email">
            <input type="phone" placeholder="Enter your Number" name="phone">
            <input type="password" placeholder="Enter your password" name="password">
            <select class="form-select" aria-label=".form-select example" name="userRole">
                <option selected>Roles</option>
                <option value="2">ADMIN</option>
                <option value="3">Employee</option>
            </select>
        </div>

        <div class="login-button text-end" >
            <button class="" type="submit">Add</button>
        </div>
    </form>
</div>
</body>
</html>