<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/register.css">
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <div class="login-text">
        <h3>Parolni o'zgartirish</h3>
    </div>
    <form th:action="@{/auth/resetPassword/}" method="POST">
        <div class="login-input">
            <input  type="text" placeholder="Eski parolingizni kiriting" name="oldPassword">
            <input  type="text" placeholder="Yangi parolingizni kiriting" name="newPassword1">
            <input  type="text" placeholder="Yangi parolingizni qaytadan kiriting" name="newPassword2">
        </div>

        <div class="login-button text-end">
            <button class="btn btn-primary" type="submit">Saqlash</button>
            <a class="btn btn-success" th:href="@{/home}">Ortga</a>
        </div>

    </form>
</div>
</body>
</html>