<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
</head>

<body>
<div class="container" style="width: 490px !important;
">
    <form th:action="@{/auth/login}" th:method="POST">
        <img src="/images/1uzbgsbe.png" class="rounded mx-auto d-block" width="110px" height="110px" alt="GSBE.UZ logo" ><br>
        <div class="login-text">
            <br>
            <h3>Biznes va tadbirkorlik oliy maktabining test tizimi</h3>
            <p>Tizimga kirish uchun Identifikatsiyadan o'ting</p>
        </div>

        <div class="login-input" th:action="@{/auth/login}" th:method="POST">
            <input type="text" placeholder="username" name="username">
            <div class="password">
                <i class="fas"></i>
                <input type="password" placeholder="parol" class="InputPassword" name="password">
            </div>


        </div>

        <div class="login-button">
            <button type="submit">Tizimga kirish</button>

        </div>
    </form>
</div>

<script>
    const passwordEye = document.querySelector(".fas")
    const InputPassword = document.querySelector(".InputPassword")

    passwordEye.addEventListener('click', function () {
        passwordEye.classList.toggle("fa-eye-slash")
        passwordEye.classList.add("fa-eye")

        if (passwordEye.classList.value != "fas fa-eye fa-eye-slash") {
            console.log("fa-eye")
            InputPassword.type = "text"

        } else {
            InputPassword.type = "password"
        }

    })
    passwordEye.classList.add("fa-eye-slash")
</script>
</body>

</html>