<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>All Projects</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <a th:href="@{/home}"><img src="/imges/logo.png" alt=""></a>
        </div>

        <div class="link">
            <a class="btn btn-light" href="#">
                Clients
            </a>
            <a class="btn btn-light" th:href="@{/home}">Task manager</a>
            <a class="btn btn-light" href="#">Inbox</a>
            <a sec:autorize="hasAnyRole('ADMIN','MANAGER')" class="btn btn-light" th:href="@{/auth/addUser}">Create
                User</a>
            <a sec:authorize=" hasRole( 'SUPERADMIN' ) " class="btn btn-light" th:href="@{/organization/list}">Organizations</a>
            <a class="btn btn-light" data-bs-target="#exampleModal" data-bs-toggle="modal"
               type="button">
                Contacts
            </a>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                 tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Contacts Atom Group in telegram</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @UMIDMASTER98
                                    <span class="badge bg-primary rounded-pill">93-376-98-26</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @AKHRULLO
                                    <span class="badge bg-primary rounded-pill">99-999-99-99</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @THEPROGRAMMERR
                                    <span class="badge bg-primary rounded-pill">97-777-77-77</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @JAVA_SWING_ONE
                                    <span class="badge bg-primary rounded-pill">93-333-33-33</span>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <aside>
        <nav>
            <div class="input">
                <a th:href="@{/search}">
                    <i class="fas fa-search"></i>
                </a>

                <input type="text" placeholder="Search">
            </div>


            <div class="user-information">
                <div class="icon">
                    <img alt="" src="/imges/bell.png">
                    <i class="far fa-envelope"></i>
                </div>

                <div class="user">
                    <p>
                    <div style="border: none!important;background-color: white!important;" class="dropdown">

                        <img aria-expanded="false"
                             data-bs-toggle="dropdown"
                             id="dropdownMenuButton11" alt="" src="/imges/useer.png">

                        <ul aria-labelledby="dropdownMenuButton11" class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/auth/logout}">Logout</a></li>
                            <li><a class="dropdown-item" th:href="@{/auth/profil}">Profile info</a></li>
                        </ul>
                    </div>
                    </p>
                </div>

            </div>
        </nav>

        <div class="container p-0">
            <div class="content mt-3">
                <div class="contents">
                    <div class="content-text">
                        <p>My Projects</p>
                        <a th:href="@{/project/create}">
                            <img src="/imges/plus-circle.png"></a>

                    </div>
                    <div class="box" th:each="project:${projects}">
                        <span>
                            <a th:href="@{/project/{project_id}(project_id=${project.id})}"
                               th:text="${project.name}"></a>
                        </span>
                        <div class="box-text">
                            <span>
                                <img alt="" src="/imges/sunrise.png">
                                <span th:text="${project.createdAt}"></span>
                            </span>
                            <span>
                                <img alt="" src="/imges/sunset2.png">
                                <span th:text="${project.deadline}"></span>
                            </span>
                            <span>
                                <img alt="" src="/imges/users.png">
                                <span th:text="${project.projectMembersCount}"></span>
                            </span>
                            <span>
                                <i type="button" class="fa-solid fa-edit" style="color: green; font-size: 18px"
                                   data-bs-toggle="modal"
                                   data-bs-target="#updateModal"></i>
                                <i type="button" class="fa-solid fa-trash" style="color: orangered; font-size: 18px"
                                   data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
                            </span>
                            <div class="modal fade" id="updateModal" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="BackdropLabe"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="BackdropLabe">update project</h5>
                                        </div>
                                        <div class="modal-body">
                                            <form th:action="@{/project/update/{project_id}(project_id=${project.getId()})}"
                                                  method="post">
                                                <div class="mb-3">
                                                    <label for="exampleInputEmail1" class="form-label">name</label>
                                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                                           aria-describedby="emailHelp" th:value="${project.getName()}"
                                                           name="name">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputPassword1"
                                                           class="form-label">Description</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword1"
                                                           th:value="${project.getDescription()}" name="description">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="deadline" class="form-label">deadline</label>
                                                    <input type="text" class="form-control" id="deadline"
                                                           th:value="${project.getDeadline()}" name="deadline">
                                                </div>
                                                <button type="button" class="btn btn-danger">Yes</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Back
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel"
                                                th:text="${project.getName()}"></h5>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure delete?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Back
                                            </button>
                                            <form th:action="@{/project/delete/{project_id}(project_id=${project.getId()})}"
                                                  method="post">
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents">
                    <div class="content-text">
                        <p>Organization</p>
                    </div>
                    <div class="box">
                        <p th:text="${organization.getName()}"></p>
                    </div>
                    <div style="
                            display: flex;
                            justify-content: space-around;
                            align-items: center;">
                        <div>
                            <p><i class="fa-solid fa-location-crosshairs"> </i> <i
                                    class="fa-solid fa-right-long"></i>
                                <label
                                        th:text="${organization.getAddress()}"></label></p>
                            <p><i class="fa-solid fa-envelope"> </i> <i class="fa-solid fa-right-long"></i> <label
                                    th:text="${organization.getEmail()}"></label>
                            </p>
                            <a style="cursor: pointer !important; text-decoration: none !important"
                               th:href="${organization.getWebSite()}"><p><i class="fa-solid fa-link"></i> <i
                                    class="fa-solid fa-right-long"></i> <label
                                    th:text="${organization.getWebSite()}"></label>
                            </p></a>
                            <p><i class="fa-solid fa-phone"></i> <i class="fa-solid fa-right-long"></i> <label
                                    th:text="${organization.getPhone()}"></label>
                            </p>
                            <p><i class="fa-solid fa-registered"></i> <i class="fa-solid fa-right-long"></i> <label
                                    th:text="${organization.getRegistrationNumber()}"></label></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </aside>
</header>
<!--<section th:include="fragment.html :: js-files"></section>-->
<script>
    const menu = document.querySelector(".menu-bar i")
    const main = document.querySelector("main")
    menu.addEventListener("click", () => {
        main.classList.toggle("open")
    })
</script>
<section th:include="fragment.html :: js-files"></section>
<script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>