<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test yaratish</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/SU-test-tizimi.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
</head>
<body data-home-page="SU-test-tizimi.html" data-home-page-title="SU test tizimi" class="u-body u-xl-mode"
      data-lang="ru">
<br>
<br>
<section class="u-align-center u-clearfix u-section-1" id="sec-8981">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <p th:if="${error != null }">
                    <span th:text="${error}"></span>
                </p>
                <form th:action="@{/admin/addStudentFromExcel}" method="POST" enctype="multipart/form-data">
<!--                    <div class="form-floating">-->
<!--                        <select class="form-select" name="subjectId" id="floatingSelect" aria-label="Fanni tanlang">-->
<!--                            <span th:each="subject : ${subjects}">-->
<!--                            <option th:value="${subject.getId()}" th:text="${subject.getName()}"></option>-->
<!--                            </span>-->
<!--                        </select>-->
<!--                        <label for="floatingSelect">Fanni tanlang</label>-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <input required type="number" name="numberOfQuestion" class="form-control" id="floatingInputNumber"-->
<!--                               placeholder="2, 3">-->
<!--                        <label for="floatingInputNumber">Tinglovchiga tushishi kerak bo'lgan savollar soni</label>-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <input required type="number" name="timeForOneQues" class="form-control" id="floatingInputNumber2"-->
<!--                               placeholder="2, 3">-->
<!--                        <label for="floatingInputNumber2">Test uchun umumiy vaqt (minutlarda)</label>-->
<!--                    </div>-->
                    <input required type="file" name="file" class="form-control" id="inputGroupFile04"
                           aria-describedby="inputGroupFileAddon04" aria-label="Upload" value="Fayli tanlang"
                           accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Tinglovchilarni yaratish</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>