<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>O'chirib yuborishni tasdiqlash</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/SU-test-tizimi.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
</head>
<body data-home-page="SU-test-tizimi.html" data-home-page-title="SU test tizimi" class="u-body u-xl-mode"
      data-lang="ru">
<br>
<br>
<section class="u-align-center u-clearfix u-section-1" id="sec-8981">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <p th:text="${groupName} + ' nomli guruhni o\'chirishni tasdiqlaysizmi?'"></p>
            <p>
                <strong>***</strong> <em>Eslatma guruhni ochirish bilan siz guruh a'zolari bo'lgan tinglovchilarni ham o'chirib yuborasiz!!!</em>
            </p>
            <!--            <p th:text="${test.getName()} + ' nomli testni o\'chirishni tasdiqlaysizmi?'"></p>-->
            <!--            <p th:text="'Tuzuvchi: ' + ${test.getOwnerId()}"></p>-->
        </div>
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-outline-success" role="button" th:href="@{/admin/groups}">Ortga</a>
            <a class="btn btn-outline-danger" role="button" th:href="@{/admin/deleteGroup/{name}(name=${groupName})}"> Tasdiqlayman!</a>
        </div>
    </div>
</section>
</body>
</html>