<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Talaba ma'lumotlarini tahrirlash</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/SU-test-tizimi.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
</head>
<body data-home-page="SU-test-tizimi.html" data-home-page-title="SU test tizimi" class="u-body u-xl-mode"
      data-lang="ru">
<br>
<br>
<section class="u-align-center u-clearfix u-section-1" id="sec-8981">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <form th:action="@{/admin/editStudent}" method="post">
                <input type="hidden" th:value="${student.getId()}" name="id">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="specificSizeInputName">F.I.O</label>
                    <div class="col-sm-10">
                        <input th:value="${student.getFullName()}" type="text" name="fullName" class="form-control" id="specificSizeInputName"
                               placeholder="Aliyev Ali">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="specificSizeInputName2">Username</label>
                    <div class="col-sm-10">
                        <input th:value="${student.getUsername()}" type="text" name="username" class="form-control" id="specificSizeInputName2"
                               placeholder="aliyev.vali">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="specificSizeInputName3">Parol</label>
                    <div class="col-sm-10">
                        <input type="password" name="password1" class="form-control" id="specificSizeInputName3">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="specificSizeSelect">Guruh</label>
                    <div class="col-sm-10">
                        <select name="groupName" class="form-select" id="specificSizeSelect">
                        <span th:each="group : ${groups}">
                            <option th:value="${group}" th:text="${group}"></option>
                        </span>
                        </select></div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Yuborish</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>