<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>testni tahrirlash</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/SU-test-tizimi.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
</head>
<body data-home-page="SU-test-tizimi.html" data-home-page-title="SU test tizimi" class="u-body u-xl-mode"
      data-lang="ru">
<br>
<br>
<section class="u-align-center u-clearfix u-section-1" id="sec-8981">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <form th:action="@{/admin/editTest}" method="POST">
                    <div class="form-floating mb-3">
                        <input type="hidden" th:value="${test.getId()}" name="id">
                        <input type="text" name="name" class="form-control" id="floatingInput"
                               placeholder="Ex: Oraliq Nazorat" th:value="${test.getName()}">
                        <label for="floatingInput">Testning nomi</label>
                    </div>
<!--                    <div class="form-floating">-->
<!--                        <select class="form-select" name="subjectId" id="floatingSelect" aria-label="Fanni tanlang">-->
<!--                            <span th:each="subject : ${subjects}">-->
<!--                            <option th:value="${subject.getId()}" th:text="${subject.getName()}"></option>-->
<!--                            </span>-->
<!--                        </select>-->
<!--                        <label for="floatingSelect">Fanni tanlang</label>-->
<!--                    </div>-->
                    <br>
                    <div class="form-floating mb-3">
                        <input type="number" name="numberOfQuestion" class="form-control" id="floatingInputNumber" th:value="${test.getNumberOfQuestion()}"
                               placeholder="2, 3">
                        <label for="floatingInputNumber"  >Tinglovchiga tushishi kerak bo'lgan savollar soni</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" name="timeForOneQues" th:value="${test.getTimeForOneQues()}" class="form-control" id="floatingInputNumber2"
                               placeholder="2, 3">
                        <label for="floatingInputNumber2">Test uchun umumiy vaqt</label>
                    </div>
                    <br>
                    <br>
                    <a type="button" th:href="@{/admin/allTests}" class="btn btn-outline-secondary">Testlarga qaytish</a>
                    <button type="submit" class="btn btn-primary">Testni yangilash</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>