<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Organization Create Page')"></head>
<body>
<div class="container p-5">
    <div class="row">
        <div class="col-6 mx-auto">
            <form class="form" th:action="@{/organization/create}" th:method="post" enctype="multipart/form-data">
                <div class="goBack" id="link" >
                    <a th:href="@{/organization/list}">Back</a>
                </div>
                <div class="form-group mt-3">
                    <h3>Create Organization</h3>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label" for="name">Organization Name</label>
                    <input class="form-control" id="name" name="name" type="text"/>
                    <span style="color: red"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label" for="logo">Organization Logo URL</label>
                    <input accept="image/*" class="form-control" id="logo" name="logo" type="file"/>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label" for="email">Organization e-mail</label>
                    <input class="form-control" id="email" name="email" type="email">
                    <span style="color: red"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label" for="webSite">Organization Web Site Address</label>
                    <input class="form-control" id="webSite" name="webSite" type="url">
                    <span style="color: red"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label" for="registrationNumber">Registered Number</label>
                    <input class="form-control" id="registrationNumber" name="registrationNumber" type="text">

                    <span style="color: red"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label" for="phone">Organization Phone Number</label>
                    <input class="form-control" id="phone" name="phone" type="tel">
                    <span style="color: red"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label" for="address">Organization Address</label>
                    <input class="form-control" id="address" name="address" type="text">
                    <span style="color: red"></span>
                </div>
                <div class="form-group mt-3 text-end">
                    <button class="btn btn-success  " type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>

<section th:include="fragment.html :: js-files"></section>

</body>
</html>