<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index html one</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <a th:href="@{/home}"><img src="/imges/logo.png" alt=""></a>
        </div>

        <div class="link">
            <a class="btn btn-light" href="#"> Clients
            </a>
            <a class="btn btn-light" th:href="@{/home}">Task manager</a>
            <a class="btn btn-light" href="#">Inbox</a>
            <a class="btn btn-light" sec:authorize="hasAnyRole('ADMIN','MANAGER')" th:href="@{/auth/addUser}">Create
                User</a>
            <a class="btn btn-light" data-bs-target="#exampleModal" data-bs-toggle="modal"
               type="button">
                Contacts
            </a>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                 tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Contacts Atom Group in telegram</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @UMIDMASTER98
                                    <span class="badge bg-primary rounded-pill">93-376-98-26</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @AKHRULLO
                                    <span class="badge bg-primary rounded-pill">99-999-99-99</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @THEPROGRAMMERR
                                    <span class="badge bg-primary rounded-pill">97-777-77-77</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @JAVA_SWING_ONE
                                    <span class="badge bg-primary rounded-pill">93-333-33-33</span>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>
                <input placeholder="Search" type="text">
            </div>
            <div class="user-information">
                <div class="icon">
                    <img alt="" src="/imges/bell.png">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="user">
                    <img alt="" src="/imges/useer.png">
                    <p>Azhar I.
                        <i class="fas fa-angle-down"></i>
                    </p>
                </div>
            </div>
        </nav>
        <div style="display: flex">
            <div class="container">
                <h3>Organizations</h3>
                <div class="content" th:each="organization, iter : ${organizations}">
                    <div class="contents">
                        <div class="content-text">
                            <p>Export</p>
                        </div>
                        <div class="box">
                            <p th:text="${organization.getName()}"></p>
                        </div>
                        <div style="
                            display: flex;
                            justify-content: space-around;
                            align-items: center;">
                            <img alt="Lgo Organization"
                                 style="width: 10em !important; height: 10em !important;"
                                 th:src="${organization.getLogo()}">
                            <div>
                                <p><i class="fa-solid fa-location-crosshairs"> </i> <i
                                        class="fa-solid fa-right-long"></i>
                                    <label
                                            th:text="${organization.getAddress()}"></label></p>
                                <p><i class="fa-solid fa-envelope"> </i> <i class="fa-solid fa-right-long"></i> <label
                                        th:text="${organization.getEmail()}"></label>
                                </p>
                                <a style="cursor: pointer !important; text-decoration: none !important"
                                   th:href="${organization.getWebSite()}"><p><i class="fa-solid fa-link"></i> <i
                                        class="fa-solid fa-right-long"></i> <label
                                        th:text="${organization.getWebSite()}"></label>
                                </p></a>
                                <p><i class="fa-solid fa-phone"></i> <i class="fa-solid fa-right-long"></i> <label
                                        th:text="${organization.getPhone()}"></label>
                                </p>
                                <p><i class="fa-solid fa-registered"></i> <i class="fa-solid fa-right-long"></i> <label
                                        th:text="${organization.getRegistrationNumber()}"></label></p>
                            </div>
                            <div>
                                <a class="btn btn-success my-2"
                                   th:href="@{organizaton/update/{id}(id=${organization.id})}"></a>
                                <a class="btn btn-success my-2"
                                   th:href="@{organizaton/delete/{id}(id=${organization.id})}"></a>
                            </div>

                        </div>
                    </div>
                </div>
                <a class="btn btn-success" th:href="@{/organization/create}">Add Organization</a>
            </div>

        </div>

        </div>
    </aside>

</header>

<section th:include="fragment.html :: js-files"></section>
</body>
</html>