<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href="/css/index3.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <style>

    </style>
</head>
<body>
<header style="overflow-x: hidden !important;">
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <a th:href="@{/home}"><img src="/imges/logo.png" alt=""></a>
        </div>
        <div class="link">
            <a class="btn btn-light" href="#"> Clients
            </a>
            <a class="btn btn-light" th:href="@{/home}">Task manager</a>
            <a class="btn btn-light" href="#">Inbox</a>
            <a class="btn btn-light" sec:authorize="hasAnyRole('ADMIN','MANAGER')" th:href="@{/auth/addUser}">Create
                User</a>
            <a class="btn btn-light" data-bs-target="#exampleModal" data-bs-toggle="modal"
               type="button">
                Contacts
            </a>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                 tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Contacts Atom Group in telegram</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @UMIDMASTER98
                                    <span class="badge bg-primary rounded-pill">93-376-98-26</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @AKHRULLO
                                    <span class="badge bg-primary rounded-pill">99-999-99-99</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @THEPROGRAMMERR
                                    <span class="badge bg-primary rounded-pill">97-777-77-77</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @JAVA_SWING_ONE
                                    <span class="badge bg-primary rounded-pill">93-333-33-33</span>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <a th:href="@{/search}">
                    <i class="fas fa-search"></i>
                </a>

                <input type="text" placeholder="Search">
            </div>


            <div class="user-information">
                <div class="icon">
                    <img alt="" src="/imges/bell.png">
                    <i class="far fa-envelope"></i>
                </div>

                <div class="user">
                    <p>
                    <div style="border: none!important;background-color: white!important;" class="dropdown">

                        <img aria-expanded="false"
                             data-bs-toggle="dropdown"
                             id="dropdownMenuButton11" alt="" src="/imges/useer.png">

                        <ul aria-labelledby="dropdownMenuButton11" class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/auth/logout}">logout</a></li>
                            <li><a class="dropdown-item" th:href="@{/auth/profil}">profil</a></li>
                        </ul>
                    </div>
                    </p>
                </div>

            </div>
        </nav>

        <div class="container">
            <div class="my-3" style="display: flex; align-items: center">
                <h4 class="mx-4" th:text="'Task Name : '+${dto.name}"></h4>
                <div class="btn-group">
                    <a class=" ml-3 btn btn-success mt-0" th:href="@{/task/update/{id}(id=${dto.id})}">Update</a>
                    <a class=" ml-3 btn btn-danger mt-0" th:href="@{/task/delete/{id}(id=${dto.id})}">Delete</a>
                </div>
            </div>


            <div class="contents">
                <div class="content-actions">
                    <h5>Actions</h5>
                    <div th:each="action,iter : ${actions}">
                        <div class="actions-box">
                            <p><b th:text="${iter.count}"></b><b>. Activity: </b>
                                <b th:text="${action.createdAt}"></b>
                            </p>
                            <p th:text="${action.text}"></p>
                            <b>User : </b>
                            <span th:text="${action.authorUsername}">
                                <img src="/imges/Ellipse.png" alt="">
                                Azhar
                            </span>
                        </div>
                    </div>

                </div>
                <div class="container-box">
                    <div class="content-box">
                        <b>Name : </b>
                        <span th:text="${dto.name}"></span>
                        <br>
                        <b>Description : </b>
                        <span th:text="${dto.description}"></span>
                    </div>
                    <form th:action="@{/comment/create/{id}(id = ${dto.id})}" method="post">
                        <div class="content-box">
                            <textarea name="text" placeholder="Comment" id="" cols="10" rows="2"></textarea>
                            <button class="mt-3" type="submit">Comment</button>
                        </div>
                    </form>
                    <div class="content-actions2">
                        <div th:each="comment : ${comments}">
                            <div class="content-box2 my-2">
                                <div class="flex mb-1">
                                    <div style="display: flex">
                                        <b>Author : </b>
                                        <div class="box-text ml-1 " th:text="${comment.authorUsername}"></div>
                                    </div>
                                    <div class="fs8" th:text="'at: '+ ${comment.createdAt}"></div>
                                </div>
                                <b>Commit : </b>
                                <span th:text="${comment.text}"></span>
                            </div>
                        </div>

                    </div>
                    <!--                    <div class="content-box" th:each="comment : ${comments}">-->
                    <!--                        <div class="flex">-->
                    <!--                            <p class="box-text" th:text="${comment.authorUsername}">-->
                    <!--                                <img src="/imges/avatar.png" alt="">-->
                    <!--                            </p>-->
                    <!--                            <p th:text="${comment.createdAt}"></p>-->
                    <!--                        </div>-->
                    <!--                        <span th:text="${comment.text}"></span>-->

                    <!--                    </div>-->
                </div>
                <div class="content-status">
                    <div class="status">
                        <div class="status-text">
                            <p>Level:</p>
                            <span th:text="${dto.level}"></span>
                        </div>

                        <div class="status-text">
                            <p>Priority:</p>
                            <span th:text="${dto.priority}"></span>
                        </div>

                        <div class="status-text mb-2">
                            <p>CreatedAt:</p>
                            <div class="fs8" th:text="${dto.updatedAt}"></div>
                        </div>

                        <div class="status-text mb2">
                            <p>UpdatedAt:</p>
                            <div class="fs8" th:text="${dto.createdAt}"></div>
                        </div>

                        <div class="status-text member-status  mt-3 mb-4">
                            <p>Members:</p>
                            <div class=" members-body" style="width: 250px!important;">
                                <div th:each="mem : ${members}" style="display: flex;align-items: center">
                                    <div th:text="${mem.getUsername()}"></div>
                                    <a class=" ml-1 btn btn-danger fs8 mt-0 pt-0"
                                       style="height: 10px;width: 40px;padding-left: 3px"
                                       th:href="@{/task/removeMember/{taskId}/{memberId}(taskId=${dto.id},memberId=${mem.getId()})}">Remove</a>
                                </div>
                            </div>
                        </div>
                        <!-- Button trigger modal -->

                        <a class="mx-auto btn btn-success" data-bs-target="#exampleModal2" data-bs-toggle="modal"
                           type="button">
                            Add Member
                        </a>

                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">Project Members </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" th:each="member : ${projectMembers}" style="display: flex">
                                        <div th:text="${member.username}"></div>
                                        <a class="btn btn-success mt-0 ml-2"
                                           th:href="@{/task/addMember/{taskId}/{memberId}(taskId=${dto.id},memberId=${member.id})}">➕
                                            Add</a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="btn">
                        <div class="dropdown">
                            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton12"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Level
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton12">
                                <li><a class="dropdown-item"
                                       th:href="@{/task/level/{id}/{code}(id= ${dto.id},code='EASY')}">EASY</a></li>
                                <li><a class="dropdown-item"
                                       th:href="@{/task/level/{id}/{code}(id = ${dto.id},code='MEDIUM')}">MEDIUM</a>
                                </li>
                                <li><a class="dropdown-item"
                                       th:href="@{/task/level/{id}/{code}(id = ${dto.id},code='HARD')}">HARD</a></li>
                            </ul>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-outline-warning dropdown-toggle col-white" type="button"
                                    id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Priority
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item"
                                       th:href="@{/task/priority/{id}/{code}(id = ${dto.id},code='EASY')}">EASY</a></li>
                                <li><a class="dropdown-item"
                                       th:href="@{/task/priority/{id}/{code}(id = ${dto.id},code='MEDIUM')}">MEDIUM</a>
                                </li>
                                <li><a class="dropdown-item"
                                       th:href="@{/task/priority/{id}/{code}(id = ${dto.id},code='HARD')}">HARD</a></li>
                            </ul>
                        </div>

                        <a class="text-decoration-none bg-success col-white" sec:authorize="hasRole('ADMIN')"
                           th:href="@{/task/join/{id}(id=${dto.id})}">
                            <button style="color: #d9e5f9" class="btn btn-success col-white">
                                Become a participant
                            </button>
                        </a>

                        <a class="text-decoration-none mt-3" th:href="@{/project/all}">
                            <button style="background-color: #ff4444" class="btn-danger ">
                                Close task
                            </button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </aside>

</header>
<!-- JavaScript Bundle with Popper -->
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script th:src="@{/js/main.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>