.u-section-1 .u-sheet-1 {
  min-height: 482px;
}

.u-section-1 .u-form-1 {
  height: 348px;
  width: 285px;
  margin: 24px auto 60px;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  box-shadow: 0px 0px 31px 0px rgba(153,153,153,1);
}