.u-section-1 .u-sheet-1 {
  min-height: 474px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 25px auto 0;
}

.u-section-1 .u-image-1 {
  width: 304px;
  height: 304px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 49px;
}