* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 544px;
  height: 100%;
  padding: 20px 55px;
  display: block;
  margin: 30px auto;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 25px 10px #f9f9f3;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
}

.goBack a {
  padding: 10px 20px;
  background: #ffa500;
  border-radius: 3px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.login-text h3 {
  font-family: Josefin Sans;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.login-text p {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #ffa500;
  margin: 7px 0 37px 0;
}

.login-input input {
  display: block;
  margin: 10px auto;
  padding: 15px 0 18px 13px;
  width: 432px;
  height: 52px;
  background: #ffffff;
  border: 1px solid #c2c5e1;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.login-input input::placeholder {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.login-input select {
  width: 432px;
  height: 52px;
  margin: 10px auto;
  display: block;
}

.login-input p {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #ffa500;
  margin: 13px 0 23px 0;
  text-align: left;
}

.login-button {
  margin: 10px auto;
  width: 432px;
  height: 52px;
}

.login-button button {
  padding: 10px 15px;
  background: #ffa500;
  border-radius: 3px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  border: none;
}

.login-button p {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #ffa500;
  margin-top: 28px;
}

@media (max-width: 586px) {
  .container {
    width: 350px;
    padding: 55px 10px;
  }
  .login-input input {
    width: 100%;
  }
}
