.u-section-1 .u-sheet-1 {
  min-height: 985px;
}

.u-section-1 .u-form-1 {
  height: 133px;
  margin: 21px 812px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  width: 100px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 11px auto 0 -11px;
}

.u-section-1 .u-table-1 {
  width: 1140px;
  margin: 15px auto 60px -11px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 612px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 392px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 212px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: 12px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}